@import url(http://fonts.googleapis.com/css?family=Roboto:400,300);
@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

:root{
    --range-height:30px;
}



.range {
    display: table;
    position: relative;
    height: var(--range-height);
    width: 250px;

    /* margin-top: 20px; */
    background-color: rgb(245, 245, 245);
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.range input[type="range"] {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    -ms-appearance: none !important;
    -o-appearance: none !important;
    appearance: none !important;

    display: table-cell;
    width: 100%;
    background-color: transparent;
    /* height: var(--range-height); */
    cursor: pointer;
}


/* user agent override */
input[type="range" i] {
    appearance: auto;
    cursor: default;
    color: -internal-light-dark(rgb(16, 16, 16), rgb(255, 255, 255));
    padding: initial;
    border: initial;
    margin: 0px;
}

input[type="range" i]::-webkit-slider-runnable-track {
    min-inline-size: 0px;
    align-self: center;
    box-sizing: border-box;
    display: block;
    -webkit-user-modify: read-only !important;
    flex: 1 1 0%;
}



.range input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    -ms-appearance: none !important;
    -o-appearance: none !important;
    appearance: none !important;

    width: 11px;
    height: var(--range-height);
    color: rgb(255, 255, 255);
    text-align: center;
    white-space: nowrap;
    /* vertical-align: baseline; */
    vertical-align: baseline;
    border-radius: 0px;
    border-color:black;
    background-color: rgb(153, 153, 153);
    border-color: gray !important;
    border: 1px;
    border-style: solid;

}

.range input[type="range"]::-moz-slider-thumb {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    -ms-appearance: none !important;
    -o-appearance: none !important;
    appearance: none !important;

    
    width: 11px;
    height: var(--range-height);
    color: rgb(255, 255, 255);
    text-align: center;
    white-space: nowrap;
    /* vertical-align: baseline; */
    vertical-align: baseline;
    border-radius: 0px;
    background-color: rgb(153, 153, 153);
}

.range .upper-limit, .range .lower-limit {
    display: table-cell;
    padding: 3px 5px 2px;
    min-width: 55px;
    color: rgb(255, 255, 255);
    background-color: rgb(153, 153, 153);
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    /* border-bottom-left-radius: 0;
    border-top-left-radius: 0; */
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}

.range .upper-limit {
    /* border-radius: 0 4px 0 0; */
    border-bottom-left-radius: 0;
    border-color: gray !important;
    border: 1px;
    border-style: solid;
    border-top-left-radius: 0;
}

.range .lower-limit {
    /* border-radius: 0 0 4px 0; */
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-color: gray !important;
    border: 1px;
    border-style: solid;
}
.range input[type="range"] {
    outline: none;
}

.range.range-primary input[type="range"]::-webkit-slider-thumb {
    background-color: #2196F3;
}
.range.range-primary input[type="range"]::-moz-slider-thumb {
    background-color: #2196F3;
}
.range.range-primary span {
    background-color: #2196F3;
}
.range.range-primary input[type="range"] {
    outline-color: #2196F3;
}

.range.range-success input[type="range"]::-webkit-slider-thumb {
    background-color: rgb(92, 184, 92);
}
.range.range-success input[type="range"]::-moz-slider-thumb {
    background-color: rgb(92, 184, 92);
}
.range.range-success span {
    background-color: rgb(92, 184, 92);
}
.range.range-success input[type="range"] {
    outline-color: rgb(92, 184, 92);
}

.range.range-info input[type="range"]::-webkit-slider-thumb {
    background-color: rgb(91, 192, 222);
}
.range.range-info input[type="range"]::-moz-slider-thumb {
    background-color: rgb(91, 192, 222);
}
.range.range-info span {
    background-color: rgb(91, 192, 222);
}
.range.range-info input[type="range"] {
    outline-color: rgb(91, 192, 222);
}

.range.range-warning input[type="range"]::-webkit-slider-thumb {
    background-color: rgb(240, 173, 78);
}
.range.range-warning input[type="range"]::-moz-slider-thumb {
    background-color: rgb(240, 173, 78);
}
.range.range-warning span {
    background-color: rgb(240, 173, 78);
}
.range.range-warning input[type="range"] {
    outline-color: rgb(240, 173, 78);
}

.range.range-danger input[type="range"]::-webkit-slider-thumb {
    background-color: rgb(217, 83, 79);
}
.range.range-danger input[type="range"]::-moz-slider-thumb {
    background-color: rgb(217, 83, 79);
}
.range.range-danger span {
    background-color: rgb(217, 83, 79);
}
.range.range-danger input[type="range"] {
    outline-color: rgb(217, 83, 79);
}
