
/* ON OFF SWITCH */

:root{
    --sheight: 25px;
    --swidth: 50px;
    --slider-width: calc(var(--swidth)/2 + 1px);
}

.switch {
    position: relative;
    display: inline-block;
    width: var(--swidth);
    height: var(--sheight);
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}


.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: calc(var(--sheight) - 8px);
    width: var(--slider-width);
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(calc(var(--swidth) - var(--slider-width) - 8px));
    -ms-transform: translateX(calc(var(--swidth) - var(--slider-width) - 8px));
    transform: translateX(calc(var(--swidth) - var(--slider-width) - 8px));
}

/* Rounded sliders */
.slider.round {
    border-radius: 5px;
}

.slider.round:before {
    /* border-radius: 50%; */
    border-radius: 5px;
}