[Unit]
Description=ReplayBoxService
After=multi-user.target
Wants=troubleshoot.service

[Service]
Type=idle
ExecStart=/usr/bin/python3 /home/pi/static-rpi-camera/application.py
Restart=always
RestartSec=30
User=pi
WorkingDirectory=/home/pi/static-rpi-camera

[Install]
WantedBy=multi-user.target

